body {
  padding-top: 60px;
  padding-bottom: 40px;
}

a {
  color: #b40404;
}

a:hover {
  color: #000;
}

.nav-pills > .active > a,
.nav-pills > .active > a:hover {
  background-color: #b40404;
}

/*
.input-append button.add-on {
  height: inherit !important;
}
*/

form.form-search {
  text-align: center;
}

input#search {
  height: 35px;
  border-radius: 20px 0 0 20px;
  font-size: 16px;
}

button#search-button {
  height: 35px;
  border-radius: 0 20px 20px 0;
}

code {
  color: black;
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  color: #ffffff;
  text-decoration: none;
  background-color: #b40404;
  background-image: -moz-linear-gradient(top, #b40404, #8f0222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b40404), to(#8f0222));
  background-image: -webkit-linear-gradient(top, #b40404, #8f0222);
  background-image: -o-linear-gradient(top, #b40404, #8f0222);
  background-image: linear-gradient(to bottom, #b40404, #8f0222);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffb40404', endColorstr='#ff8f0222', GradientType=0);
}

.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #b40404;
  background-image: -moz-linear-gradient(top, #b40404, #8f0222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b40404), to(#8f0222));
  background-image: -webkit-linear-gradient(top, #b40404, #8f0222);
  background-image: -o-linear-gradient(top, #b40404, #8f0222);
  background-image: linear-gradient(to bottom, #b40404, #8f0222);
  background-repeat: repeat-x;
  outline: 0;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffb40404', endColorstr='#ff8f0222', GradientType=0);
}

.bs-docs-menu {
  width: inherit;
}

.bs-docs-menu > ul.nav > li.divider {
  height: 1px;
  border-top: 1px solid #eee;
  margin: 10px 0 10px 0;
}

.bs-docs-menu.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 140px;
}

.contribute-element, .table td.btn-more {
  text-align: center;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom:50px; /* this needs to be bigger than footer height*/
  clear:both;
}

html, body {
  height: 100%;
}

.footer {
  position: relative;
  margin-top: -50px; /* negative value of footer height */
  height: 50px;
  clear: both;
  text-align: center;
  padding-top:20px;
  border-top: 10px #EBEBEB solid;
} 

.footer .copyright {
  clear: both;
}

.footer .icons {
  margin: auto;
  padding-bottom: 20px;
  width: 150px;
  overflow: auto;
}

.footer .icons .icon {
  width: 32px;
  height: 32px;
  vertical-align: middle;
  margin: 0 2px;
  float: left;
}

.footer a {
  text-decoration: none;
  border-bottom: 0;
}

.footer a:hover {
  text-decoration: none;
  border-bottom: 0;
}

th.operator {
  vertical-align: middle;
  text-align: center;
}

table.formula-wrap th, table.formula-wrap td,
table.formula      th, table.formula      td {
  border: none;
  white-space: nowrap;
}

table.formula th.operator {
  font-size: 150%;
  border-right: 1px solid rgb(221, 221, 221);
}

table.formula td.pkgname {
  vertical-align: middle;
}

td table.formula {
  margin-left: -8px;
}

table.formula-wrap {
  width: 100%;
  margin-left: -8px;
}

table.formula-wrap > tbody > tr > th,
table.formula-wrap > tbody > tr > td {
  padding-top: 0;
  padding-bottom: 0;
  border: none;
}

table.formula-wrap > tbody > tr > td:last-child,
table.formula      > tbody > tr > td:last-child {
  width: 100%;
}

tr.embedded-formula > th, tr.embedded-formula > td {
  font-size: 85%;
  padding-top: 4px;
  padding-bottom: 4px;
  border-top: 0;
}

tr.embedded-formula > td:last-child {
  width: 100%;
  text-align: right;
}


h2 {
  border-bottom: 1px solid lightgrey;
  padding-top: 5px;
}

h2, h3, h4 {
  margin-top: 1ex;
}
