body {
  padding-top: 60px;
  padding-bottom: 40px;
}

a {
  color: #b40404;
}

a:hover {
  color: #000;
}

.nav-pills > .active > a,
.nav-pills > .active > a:hover {
  background-color: #b40404;
}

/*
.input-append button.add-on {
  height: inherit !important;
}
*/

form.form-search {
  text-align: center;
}

input#search {
  height: 35px;
  border-radius: 20px 0 0 20px;
  font-size: 16px;
}

button#search-button {
  height: 35px;
  border-radius: 0 20px 20px 0;
}

code {
  color: black;
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  color: #ffffff;
  text-decoration: none;
  background-color: #b40404;
  background-image: -moz-linear-gradient(top, #b40404, #8f0222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b40404), to(#8f0222));
  background-image: -webkit-linear-gradient(top, #b40404, #8f0222);
  background-image: -o-linear-gradient(top, #b40404, #8f0222);
  background-image: linear-gradient(to bottom, #b40404, #8f0222);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffb40404', endColorstr='#ff8f0222', GradientType=0);
}

.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #b40404;
  background-image: -moz-linear-gradient(top, #b40404, #8f0222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b40404), to(#8f0222));
  background-image: -webkit-linear-gradient(top, #b40404, #8f0222);
  background-image: -o-linear-gradient(top, #b40404, #8f0222);
  background-image: linear-gradient(to bottom, #b40404, #8f0222);
  background-repeat: repeat-x;
  outline: 0;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffb40404', endColorstr='#ff8f0222', GradientType=0);
}

.bs-docs-menu {
  width: inherit;
}

.bs-docs-menu > ul.nav > li.divider {
  height: 1px;
  border-top: 1px solid #eee;
  margin: 10px 0 10px 0;
}

.bs-docs-menu.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 140px;
}

div.bs-docs-toc {
  border: 3px solid #ccc;
  padding: 5px;
  box-shadow: 5 5 inlet;
}

.bs-docs-toc > ul {
  margin-left: 0;
  margin-bottom: 0;
}

.bs-docs-toc > ul ul {
  margin-left: 10px;
}

.bs-docs-toc li {
  list-style-type: none;
}

.bs-docs-toc > ul > li {
  padding-top: 5px;
  margin-top: 5px;
  border-top: 1px solid #ccc;
}

.bs-docs-toc > ul > :first-child {
  border-top: none;
  padding-top: 0;
  margin-top: 0;
}

.bs-docs-toc li li {
  padding-left: 5px;
  border-left: 1px solid #ccc;
  font-size: small;
}

html, body {
  height: 100%;
}

.footer {
  border-top: 10px #EBEBEB solid;
}

h2 {
  border-bottom: 1px solid lightgrey;
  padding-top: 5px;
}

h2, h3, h4 {
  margin-top: 1ex;
}

:target, :target code {
  background-color: #ff9;
}

/* Fix anchors positionning below top bar */
:target:before {
  content:"";
  display:block;
  background-color:white;
  height:50px;
  margin:-50px 0 0;
}
